@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 77, 166, 255;
  --background-start-rgb: 0, 25, 51;
  --background-end-rgb: 0, 25, 51;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

